@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a new stylist</h1>

<div class="container-stylists-create">
@using (Html.BeginForm())
{
  
  @Html.LabelFor(model => model.Name, new { @class = "input" })
  @Html.TextBoxFor(model => model.Name, new { @class = "input" })



  @Html.LabelFor(model => model.Specialties, new { @class = "input" })
  @Html.TextBoxFor(model => model.Specialties, new { @class = "input" })



  <input class="form-button" type="submit" value="add new stylist" />
}
</div>

@Html.ActionLink("show all stylists", "Index", null, null, new { @class = "link"})